/* Good luck! */

.fm-form legend {
	padding: 10px;
	font-size: 1.4em;
	font-family: 'Open Sans', sans-serif;
}

.fm-form ul {
	list-style-type: none;
	margin-left: 0;
}

.fm-form table {
	margin-left: 0;
}

.fm-form td {
	border: 0;
	vertical-align: top;
}

.fm-form input, .fm-form textarea {
	border: 1px solid #000;
	padding: 5px 10px;
}

.fm-form div {
	text-align: right;
}

.fm-form .submit {
	color: #fff;
	font-size: 16pt;
	font-family: 'Open Sans', sans-serif;
	padding: 10px;
	border: 0;
	cursor: pointer;
	margin: 0;
	outline: 10px solid #fff;
}

.fm-form label em {
	color: #c00;
	font-weight: bold;
}


/* Hacks FTW! */
.page-cat-studentenrat .fm-form .submit {
	background-color: #1C95CA;
}

.page-cat-club .fm-form .submit {
	background-color: #22B10C;
}

.page-cat-service .fm-form .submit {
	background-color: #FB1929;
}

.page-cat-sport .fm-form .submit {
	background-color: #FF9219;
}


.page-cat-studentenrat .fm-form legend {
	color: #1C95CA;
}

.page-cat-club .fm-form legend {
	color: #22B10C;
}

.page-cat-service .fm-form legend {
	color: #FB1929;
}

.page-cat-sport .fm-form legend {
	color: #FF9219;
}


