.publication-archive {
    margin-top: -20px;
	}

.publication_title {
    color: #1C95CA;
    padding-bottom: 5px;
    font-weight: bold;
	}

.publication_authors {
	}
	
	.publication-archive span.title {
	    padding-right: 10px;
	}

.publication_authors .date {
    display: none;
	}

.publication_download {
	}
.publication_summary {
	}

.publication_summary .title, .publication_keywords .title, .publication_categories .title{
	}

.publication_keywords {
	}

.publication_categories {
	display: none;
	}
	
.single-publication {
    padding: 10px;
	border-left: 10px solid #1C95CA;
}