.publication-archive {
    margin-top: 0px;
	}

.publication_title {
    color: #1C95CA;
    padding-bottom: 5px;
    font-weight: bold;
    text-decoration: none;
	}
	
.publication_title a{
    text-decoration: none;
    pointer-events: none;
    cursor: default;
	}

.publication_authors {
	}
	
	.publication-archive span.title {
	    padding-right: 10px;
	}

.publication_authors .date {
    display: none;
	}

.publication_download {
	}
.publication_summary {
	display: none;
	}

.publication_summary .title, .publication_keywords .title, .publication_categories .title{
	}

.publication_keywords {
	}

.publication_categories {
	display: none;
	}
	
.single-publication {
    padding: 0 0 5px 10px;
    margin: 15px 0 0 10px;
	border-left: 10px solid #1C95CA;
}
